@model USPS_Report.Areas.Reports.Models.AssessmentLogVM
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "AssessmentLogReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="middle">
    <h3>Assessment Log Report</h3>
    @using (Html.BeginForm("AssessmentLogReport", "ClinicalAssessment", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <label>Start Date </label>


                @Html.Kendo().DatePicker().Name("StartDate").Value(Model.StartDate).Format("MM/dd/yyyy")
            </div>
            <div class="col-md-3">
                <label>End Date</label>
              
            
                @Html.Kendo().DatePicker().Name("EndDate").Value(Model.EndDate).Format("MM/dd/yyyy")
                </div>
        </div>
    <div style="height:20px"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label>OR  Account </label>

            @Html.TextBoxFor(m => m.Account, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <label>Select an ID</label>

            @Html.DropDownListFor(m => m.User_ID, Model.UserIDList, "select", new { @style = "width:200px;" })
        </div>
    </div>
        <hr style="border:solid 1px" />
        <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-large" type="submit">View</button>
            </div>
        </div>


   
    }
  
<hr />
 
@if (Model != null && Model.GetAssessment != null)
{
    <div class="table-responsive">
        <table data-sortable class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>Account</th>
                    <th>New</th>
                    <th>Updated</th>
                    <th>DIS</th>
                    <th>URO</th>
                    <th>Ostomy</th>
                    <th>FaxesToState</th>
                    <th>1st Rx</th>
                    <th>LMN/Letter</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"></td>
                   
                    <td>@Html.DisplayName(Model.GetAssessment.Sum(t => t.InitAssessment).ToString())</td>
                    <td>@Html.DisplayName(Model.GetAssessment.Sum(t => t.UpdateAssessment).ToString())</td>
                    <td>@Html.DisplayName(Model.GetAssessment.Sum(t => t.UpdatePCU).ToString())</td>
                    <td>@Html.DisplayName(Model.GetAssessment.Sum(t => t.OneTimePA).ToString())</td>
                    <td>@Html.DisplayName(Model.GetAssessment.Sum(t => t.POSorRWOcreated).ToString())</td>
                    <td>@Html.DisplayName(Model.GetAssessment.Sum(t => t.FaxesToState).ToString())</td>
                    <td>@Html.DisplayName(Model.GetAssessment.Sum(t => t.InitPAProcess).ToString())</td>
                    <td>@Html.DisplayName(Model.GetAssessment.Sum(t => t.LMletter).ToString())</td>
                    <td></td>

                </tr>
                @foreach (var rec in Model.GetAssessment)
                {
                    <tr>
                        <td>@rec.UserID</td>
                        <td>@rec.Account</td>
                        <td>@rec.InitAssessment</td>
                        <td>@rec.UpdateAssessment</td>
                        <td>@rec.UpdatePCU</td>
                        <td>@rec.OneTimePA</td>
                        <td>@rec.POSorRWOcreated</td>
                        <td>@rec.FaxesToState</td>
                        <td>@rec.InitPAProcess</td>
                        <td>@rec.LMletter</td>
                        <td>@rec.Date</td>
                       
                    </tr>
                }
            </tbody>

        </table>
    </div>
   
}

</div>


<style>
    th {
        background-color: dodgerblue;
        color: white;
    }

   <style>
    th {
        background-color: dodgerblue;
        color: white;
    }

    .middle {
        margin: auto;
        width: 90%;
    }
</style>


