@model USPS_Report.Areas.Reports.Models.CSRComplaintVM

@using Kendo.Mvc.UI


<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><label> Issue Date</label><span style="color:red;">*</span></div>
    <div class="col-md-2">@Html.Kendo().DatePicker().Name("IssueDate").Value(Model.IssueDate).Format("MM/dd/yyyy")</div>


</div>

<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><label> Complaint Date</label><span style="color:red;">*</span></div>
    <div class="col-md-2">@Html.Kendo().DatePicker().Name("ComplaintDate").Value(Model.ComplaintDate).Format("MM/dd/yyyy")</div>

</div>

<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><label> Resolution Date</label></div>
    <div class="col-md-2">@Html.Kendo().DatePicker().Name("ResolutionDate").Value(Model.ResolutionDate).Format("MM/dd/yyyy")</div>

</div>

<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><label> J&B's Initial Response Date </label></div>
    <div class="col-md-2">@Html.Kendo().DatePicker().Name("InitialRespDate").Value(Model.InitialRespDate).Format("MM/dd/yyyy")</div>

</div>

<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><label> Written Response Date </label></div>
    <div class="col-md-2">@Html.Kendo().DatePicker().Name("WrittenRespDate").Value(Model.WrittenRespDate).Format("MM/dd/yyyy")</div>

</div>
<br />


 
<script>
    $(document).ready(function () {

        @*alert("hello");
        alert("@Html.Raw(Model.IssueDate)");*@
        
        var issueDP = $("#IssueDate").data('kendoDatePicker');
        issueDP.value("@Html.Raw(Model.IssueDate)");

        var complaintDP = $("#ComplaintDate").data('kendoDatePicker');
        complaintDP.value("@Html.Raw(Model.ComplaintDate)");

        var resolutionDP = $("#ResolutionDate").data('kendoDatePicker');
        resolutionDP.value("@Html.Raw(Model.ResolutionDate)");

        var initialDP = $("#InitialRespDate").data('kendoDatePicker');
        initialDP.value("@Html.Raw(Model.InitialRespDate)");

        var writtenDP = $("#WrittenRespDate").data('kendoDatePicker');
        writtenDP.value("@Html.Raw(Model.WrittenRespDate)");
        
    });
    
    //var dp = $("#IssueDate").data('kendoDatePicker');
    //dp.value("07/30/2014");
    //var $datepicker = $('#IssueDate');
    //$datepicker.datepicker();
    //$datepicker.datepicker('setDate', new Date());
    //var datepicker = $("#IssueDate").data("kendoDatePicker");

    //datepicker.value(new Date());

    //alert(new Date('December 17, 2000 03:24:00'));
    //debugger;
    //var todayDate = new Date();
    //$("#IssueDate").data("kendoDatePicker").value(todayDate).Format("MM/dd/yyyy");
</script>
 


 




