@model USPS_Report.Areas.Reports.Models.CSRComplaintVM

<br />



<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
        @Html.DropDownListFor(t => t.ComplaintHasBeen, new List<SelectListItem>

               {
                    new SelectListItem { Text = "Pending Resolution–Supervisor" , Value = "Pending Resolution–Supervisor"},
                    new SelectListItem { Text = "Pending Resolution–Management" , Value = "Pending Resolution–Management"},
                     new SelectListItem { Text = "Pending Resolution–Other" , Value = "Pending Resolution–Other"},
                      new SelectListItem { Text = "Resolved and Closed" , Value = "Resolved and Closed"},
                       new SelectListItem { Text = "Closed" , Value = "Closed"},

               }, "Please select one Option", new { id = "ComplaintHasBeen" })
    </div>

    @*<div class="row">
            <div class="col-md-1"></div>
            <div class=" col-md-2">@Html.CheckBoxFor(m => m.HandledConcerns) <label> Handled Concerns </label></div>

        </div>*@




</div>
<br />

@*<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-2">@Html.CheckBoxFor(m => m.Resolved) <label> Resolved </label></div>

</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-2">@Html.CheckBoxFor(m => m.NotResolved) <label> Not Resolved (follow-up needed) </label></div>

</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-2">@Html.CheckBoxFor(m => m.TransferredTeamLeader)) <label> Transferred to Team Leader</label></div>

</div>*@

