@model USPS_Report.Areas.Reports.Models.CallLogVM

<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <label>  Tracking Number </label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.TrackingNumber)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <label>  WorkOrder# </label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.WorkOrder)
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <label>  Product# </label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.Product)
    </div>
</div>


<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <label>  Delivery Company </label>
    </div>
    <div class="col-md-2">
        @Html.DropDownListFor(t => t.DeliveryCompany, new List<SelectListItem>

               {
                   new SelectListItem { Text = "FedEx" , Value = "FedEx"},
                   new SelectListItem { Text = "USPS" , Value = "USPS"},
                      new SelectListItem { Text = "SmartPost", Value = "SmartPost" },
                    new SelectListItem { Text = "Company Vehicle", Value = "Company Vehicle" },

               }, "Select Option")
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <label>  Product Line: </label>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.BloodPressureMonitors) <label> Blood Pressure Monitors </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.BreastPumps) <label> Breast Pumps </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.ContGlucoseMonitoring) <label> Continuous Glucose Monitoring </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.DiabeticTestSup) <label> Diabetic Testing Supplies </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.EnteralNutrition) <label> Enteral Nutrition </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.ExternalDefibrillator) <label> External Defibrillator </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.IncontinenceSupplies) <label> Incontinence Supplies </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.InsulinPumpsSupplies) <label> Insulin Pumps & Supplies </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.InsSyrPenNeed) <label> Insulin Syringes & Pen Needles </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.OstomySupplies) <label> Ostomy Supplies </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.PleurXDrainSys) <label> PleurX Drainage System </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.PTINRTesting) <label> PT INR Testing </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.TENSUnitSup) <label> TENS Unit & Supplies </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.UrologicalSupplies) <label> Urological Supplies </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.WoundCareSupplies) <label> Wound Care Supplies </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.OtherUnsureSupplies) <label> Other/Unsure of Supplies </label></div>
</div>

<hr />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <label>  Team: </label>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.BDI) <label> BDI </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.BPnBPM) <label> Breast Pumps & Blood Pressure Monitors </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.CallCenter) <label> Call Center </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.CSRAssessment) <label> CSR Assessment </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.DynamicSynergy) <label> Dynamic Synergy </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.Enteral) <label> Enteral </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.HGS) <label> HGS </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.InsulinPumpCGM) <label> Insulin Pump & CGM </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.MedicalDocuments) <label> Medical Documents </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.NewAccountTeam) <label> New Account </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.Nurses) <label> Nurses </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.QualityAssurance) <label> Quality Assurance </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.Shipping) <label> Shipping </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.THC) <label> THC </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.Troy) <label> Troy (BCN, BCNA, MAPPO) </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.Verification) <label> Verification </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.WebSupport) <label> Web Support </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.WoundCareOstomyTENS) <label> Wound Care, Ostomy & TENS </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.OtherUnsureTeam) <label> Other/Unsure of Team </label></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.ITHelpDesk) <label> IT / HelpDesk </label></div>
</div>


<hr />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <label>  Complaint Type: </label>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.Compliance) <label> Compliance </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.CustomerService) <label> Customer Service (CSR Issue, Hold Times,etc) </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.Discrimination) <label> Discrimination / Civil Rights </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.HealthPlan) <label> Health Plan (insurance limits, guidelines, etc) </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.ProductDefectiveQuality) <label> Product (Defective, Quality, etc) </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.ShippingUSPS) <label> Shipping (USPS / FedEx) </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.ShippingWarehouse) <label> Shipping (Warehouse: Mispicks, Missing, etc) </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.SmartAction) <label> SmartAction (Victor / Julie) </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.TextMessaging) <label> Text Messaging </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.WebsitePortal) <label> Website / Portal </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.ProcessDelay) <label> Process Delay (Internal delays regarding follow up, processing, submission, etc) </label></div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-5">@Html.CheckBoxFor(m => m.PhoneFaxIssues) <label> Phone / Fax Issues </label></div>

</div>

<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-2">@Html.TextAreaFor(m => m.Others, new { rows = "6", cols = "40", disabled = "disabled" })</div>

</div>

<hr />
<div class="outer">
    <p>OutCome</p>
</div>
<br />
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
        @Html.DropDownListFor(t => t.ComplainOutCome, new List<SelectListItem>

       {
            new SelectListItem { Text = "Handled Concern" , Value = "Handled Concern"},
            new SelectListItem { Text = "Not Resolved Transferred to Team Leaders" , Value = "Not Resolved Transferred to Team Leaders"},

       }, "Please select one Option", new { @id = "ddout" })
    </div>

</div>
<br />

<style>
    .outer {
        width: 100%;
        color: navy;
        background-color: lightblue;
        /*border: 2px solid blue;*/
        padding: 5px;
    }

    .c {
        text-align: center;
    }
</style>

<script>
    $('#Compliance').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    $('#CustomerService').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    $('#Discrimination').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    $('#HealthPlan').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    $('#ProductDefectiveQuality').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    $('#ShippingUSPS').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    $('#ShippingWarehouse').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    $('#SmartAction').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    $('#TextMessaging').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    $('#WebsitePortal').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#ProcessDelay').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#PhoneFaxIssues').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });


    $('#Damaged').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#WrongProductShipped').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#QualityOfProduct').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#Defective').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#other_MissingProduct').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#Driver').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#DidntFollowDelIns').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#WrongArea').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#Impolite_Offensive').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#VConfirmationCalls').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#VPaymentCalles').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#SAJamesPhonePromts').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#SAJamesSelfService').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#VirtualCallBack').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#Website').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#HoldTimes').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#NoFollowUp').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#ReturnedFromVM').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#NoFollowUpWithMem').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#NeverRecivedSupplies').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });


    $('#CivilRights').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });


    $('#PhysicianIssue').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#InsLimitGuidelines').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });

    $('#BCNProviderIssue').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    $('#Other').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#Others').removeAttr("disabled");
        } else {
            $('#Others').attr("disabled", "disabled")
        }
    });
    //$('#Other').click(function () {
    //    var $this = $(this);

    //    if ($this.is(':checked')) {
    //        alert("test");
    //        return false;
    //    }
    //});
</script>

