<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/kendo/kendo.default.mobile.min.css")" rel="stylesheet" type="text/css" />
   
     @Styles.Render("~/Content/kendo/css")
   
     <link href="@Url.Content("~/Content/kendo/kendo.BlueOpal.min.css")" rel="stylesheet" type="text/css" id="sheet3" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" />

     @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
    <script src="@Url.Content("~/Scripts/kendo/jquery.min.js")"></script>

    <script src="@Url.Content("~/Scripts/kendo/jszip.min.js")"></script>
   
    <script src="@Url.Content("~/Scripts/kendo/kendo.all.min.js")"></script>
  
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")"></script>
  

    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
     @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>*@
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
  

    <style>
        .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
            background-color: white;
        }

  
}
</style>




</head>
<body>
    <div class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#0E6EAC">
            <div class="col-md-3 col-md-offset-2"> <img src="~/Image/Horizontal White-01.png" class="img-fluid" /></div>
            <div class="col-md-3">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li></li>
                        <li><div>&nbsp;&nbsp;&nbsp;&nbsp;</div></li>
                        <li> @Html.ActionLink("Reports", "Index", "Home", new { area = "" }, new { target = "_blank" })</li>
                    </ul>
                    @*<ul class="nav navbar-nav navbar-right">
                            <li class="navbar-text">@User.Identity.Name</li>
                        </ul>*@
                </div>
            </div>
            <div class="col-md-2  col-md-offset-2">
                <br />
                <label style="color:white">@User.Identity.Name</label>
            </div>
        </div>
        <br />
        <div class="row-fluid ">
            <br />
        </div>
        <div class="row-fluid ">
            @*<br /><br />*@
            @RenderBody()
        </div>
    </div>


   
    @*@Scripts.Render("~/bundles/jqueryui") 
    @Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>

    <script type="text/javascript">
        $(function () {




            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>

</body>
</html>
