@model USPS_Report.Areas.Reports.Models.ProductWith_No_UW
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Products Info Tool";
     Layout = "~/Areas/Reports/Views/Shared/_noSideBarLayout.cshtml";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}



        <div>
            @using (Html.BeginForm("ProductWithoutUW", "Logistics", FormMethod.Post))
    {
    <div class="form-inline">
        <label>Satrt Date </label>


        @Html.Kendo().DatePicker().Name("_start").Value(Model._start).Format("MM/dd/yyyy")   @*.HtmlAttributes(new { style = "width:100%;" })*@
        <label>End Date </label>
        @Html.Kendo().DatePicker().Name("_end").Value(Model._end).Format("MM/dd/yyyy")

        <button class="btn btn-primary btn-large" type="submit">View</button>
    </div>

    }
        </div>


 <div>
 @if (Model != null && Model.productDetails != null)
    {
    <h4 style="color:blue">Total Products without unit weight are @Model.productDetails.Count()</h4>
    <div class="table-responsive">
        <table data-sortable class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Product </th>
                    <th>Description</th>
                    <th>CreateDate</th>
                    <th>Ordered</th>
                    <th>Shipped</th>
                    <th>UOM</th>
                    <th>Unit Weight</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var rec in Model.productDetails)
                    {


                    <tr>
                        <td>
                            @rec.Product
                        </td>
                        <td>
                            @rec.Description
                        </td>
                        <td>
                            @rec.CreateDate
                        </td>
                        <td>
                            @rec.Ordered
                        </td>
                        <td>
                            @rec.Shipped
                        </td>
                        <td>
                            @rec.UOM
                        </td>

                        <td>
                            @rec.UnitWeight
                        </td>


                    </tr>
                    }
            </tbody>

        </table>
    </div>
    }


        </div>

 

<style>
    th {
        background-color: dodgerblue;
        color: white;
    }

    .middle {
        margin: auto;
        width: 900px;
    }

  
}
</style>

