@model USPS_Report.Areas.Reports.Models.SmartActionNoteHoldingVm

@{
    ViewBag.Title = "SA_Notes_HoldingOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="middle">
    <h1>Holding Accounts with Victor Confirmations</h1>
    <h4>***Holding Accounts with Victor Confirmation Notes for the Last 10 days.***</h4>
</div>
<br />


@if (Model != null && Model.smartActionNotesHoldingOrders != null)
{
    <div class="row" style="width:95%;margin:auto">
     
   <h3 style="color:blue">
     Total Count =  @Model.smartActionNotesHoldingOrders.Count()
      </h3>
         
            <div class="table-responsive">
                <table data-sortable class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>FirstName</th>
                            <th>Last Name</th>
                            <th>Note Heading</th>
                            <th>Note Text</th>
                            <th>Latest Note Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rec in Model.smartActionNotesHoldingOrders)
                {
                    <tr>
                        <td>@rec.Account</td>
                        <td>@rec.First_Name</td>
                        <td>@rec.Last_Name</td>
                        <td>@rec.NoteHeading</td>
                        <td>@rec.NoteText</td>
                        <td>@String.Format("{0:MM/dd/yyyy}", rec.Latest_Note)</td>
                    </tr>
                }
                    </tbody>

                </table>
            </div>
        </div>
    

}

<style>
    th {
        background-color: dodgerblue;
        color: white;
    }

    .middle {
        margin: auto;
        width: 900px;
    }
</style>
