@{
    ViewBag.Title = "_ReportLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var manageOrdersAccess = Session["UserHasAccessToManageOrders"] != null ? (bool)Session["UserHasAccessToManageOrders"] : false;
}



<div class="span2">
    <div class="well sidebar-nav ">

        <ul class="nav nav-pills nav-stacked">
            <li class="active ">@Html.ActionLink("  Dashboard", "Index", "Home", new { area = "" }, new { @class = "glyphicon glyphicon-dashboard" })</li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Tracking Info
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                    <li>@Html.ActionLink("USPS", "USPSInfo", "Home", new { area = "" }, new { target = "_blank" })</li>

                    <li class="divider"></li>

                    <li><a href="http://10.10.1.51/FedExPOD/Home/FedExInfo" target="_blank">FedEX</a></li>

                </ul>
            </li>


            <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Logistics Tools
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Patient Order Lookup", "woReports", "WorkOrder", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li> <a href="http://10.10.1.49/jbportal/Eligibility/EligibilityReports/FutureHoldReport" target="_blank">Future Hold Report</a></li>
                    <li class="divider"></li>
                    <li> @Html.ActionLink("Priority holds", "HeldOrders", "woReports", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Weight Calculator", "weightCalulator", "Logistics", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("RWO Product Substitution", "ProductSub", "RWO", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li> <a href="http://10.10.1.49/PAReports/CustomerService/PA_Rule" target="_blank">PA Rule</a> </li>
                    <li class="divider"></li>
                    <li> <a href="http://10.10.1.51/MRO/Home/AutoRelease" target="_blank">MRO Tool</a> </li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Return Items", "ReturnItemsData", "ReturnItems", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/HRApplication/Import/JB_OIG_SAM_Check_Report" target="_blank">OIG SAM Search Tool</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/ShippedOrders/ShippedOrders" target="_blank">Shipped Orders</a></li>
                    <li class="divider"></li>
                    <li> <a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/USSoperatorLookup/USSoperatorLookup" target="_blank">USS Operator Lookup</a> </li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/OldWaitingToInterface/OldWaitingToInterface" target="_blank">Old 'Waiting to Interface' Orders</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/ROordersNotPurchase/ROordersNotPurchase" target="_blank">RO Orders Not Purchase</a></li>
                    <li class="divider"></li>
                    <li> <a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/AccountsMultipleShipDates/AccountsMultipleShipDates?selected=@DateTime.Now" target="_blank">Accounts With Multiple Ship Dates</a> </li>

                    <li class="divider"></li>
                    <li>@Html.ActionLink("RWO's With 2099 Dates", "RWOsWith2099Dates", "RWOsWith2099Dates", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/RWOsOlderThanToday/RWOsOlderThanToday" target="_blank">RWO's Older Than Today</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/RWOsMultipleLocations/RWOsMultipleLocations" target="_blank">RWO's with Multiple Locations</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/RWOsMultipleMethods/RWOsMultipleMethods" target="_blank">RWO's with Multiple Methods</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/RWOsMultipleTimes/RWOsMultipleTimes" target="_blank">RWO's with Multiple Times</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/RWO_ImproperFreq" target="_blank">RWO's with Improper Frequency</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/RWOsSetAsRush/RWOsSetAsRush" target="_blank">RWO's set with 'FedEx - Rush Order'</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/JBIntranet/ColdFusionReports/RWOLookUp/RWOLookUpData" target="_blank">RWOLookUpData</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/JBIntranet/Reports/HDMSPunctuations/Index" target="_blank">HDMS Punctuation Corrections</a></li>
                    <li class="divider"></li>
                    @if (manageOrdersAccess)
                    {
                        <li>@Html.ActionLink("Cancel Orders", "CancelOrders", "ManageOrder", new { area = "Reports" }, new { target = "_blank" })</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Mass Releases", "MassReleases", "ManageOrder", new { area = "Reports" }, new { target = "_blank" })</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("UnCancel Orders", "UnCancelOrders", "ManageOrder", new { area = "Reports" }, new { target = "_blank" })</li>
                    }
                    <li class="divider"></li>
                    <li>@Html.ActionLink("InactiveAccount with RO's", "InactiveAccountsData", "InactiveAccounts", new { area = "Reports" }, null)</li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/DiscontinuedProducts/DiscontinuedProducts" target="_blank">Accounts that have discontinued products in RO</a></li>
                    @*<li>@Html.ActionLink("RWO Loop up", "RwoLookUp", "WoReports", new { area = "Reports" }, new { target = "_blank" })</li>
                        <li class="divider"></li>*@
                    @* start
                                    <li>@Html.ActionLink("WO's Not Printed", "WoNotPrinted", "WorkOrder", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("LostWO's", "WoLost", "WorkOrder", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("WO_Hold", "Wo_HoldTypesQty", "WorkOrder", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("InactiveAccount with RO's", "InactiveAccount", "WorkOrder", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("RO's Not setup as Purchase", "RONotPurchaseReport", "WorkOrder", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("MultipleOrderReport", "MultipleOrderReport", "WorkOrder", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("RWO's with 2099 Dates", "RWO_OlderDatesReport", "WoReports", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Expired Products", "ExpiredProduct", "WoReports", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("WO's ShippedBy Hours", "ShippingOrders", "WoReports", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Product Forcast", "ProductForcast", "WoReports", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("RWO Multi-Delivery Locations", "RWOMultipleLocations", "WoReports", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("RWO Multiple Methods", "RWOMultipleMethods", "WoReports", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("RWO Multiple Times", "RWOMultipleTimes", "WoReports", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Empty Bin Locations", "Binlocation", "WoReports", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("USSOperatorLookUp", "USS_OperatorLookUp", "WoReports", new { area = "Reports" }, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("FutureOrederConfirmation", "FutureOreder_Confirmation", "WoReports", new { area = "Reports" }, null)</li>
                        end *@
                </ul>
    
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Billing <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Claims By Payer", "ClaimByPayer", "Billing", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Collection By Operator", "CollectionByOperator", "Billing", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>

                    @* start  <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">CHAMPS</a>
                            <ul class="dropdown-menu">
                                <li tabindex="-1">

                               <li>@Html.ActionLink("Claims to Transmit Today", "ClaimsToSumit", "Billing_Champs", new { area = "Reports" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("SubmittedClaims", "SubmittedClaims", "Billing_Champs", new { area = "Reports" }, null)</li>
                                <li class="divider"></li>

                            </ul>
                        </li>end  *@
                </ul>
            </li>


            <li class="dropdown">
@{var TodaysDate = DateTime.Today.ToString("MM/dd/yyyy");
        var url = "http://10.10.1.49/ColdFusionReports/ColdFusionReports/ProductivityReport/ProductivityReportByDate?selectedDate=" +  @TodaysDate;
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    WareHouse
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                    @* <li><a href="http://10.10.1.51/WarehouseStatus" target="_blank">Order Status</a></li> *@

                    <li><a href="http://10.10.1.49/Warehouse/Warehouse/Index" target="_blank">Order Status</a></li>

                    <li class="divider"></li>
                    <li><a href="http://10.10.1.51/OracleReports/OracleReports" target="_blank">Truncated RMA's</a></li>
                    <li class="divider"></li>
                    <li> <a href="http://10.10.1.51/OracleReports/Reports" target="_blank">Total Shipment</a>  </li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Future Orders", "FutureOrder", "Scheduler", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/warehousereports/home/eod" target="_blank">End of Day Process</a></li>
                    <li class="divider"></li>
                    @*<li>  @Html.ActionLink("Order Lookup", "WarehouseWOReport", "WorkOrder", new { area = "Reports" }, new { target = "_blank" }) </li>
                        <li class="divider"></li>*@
                    <li> <a href="http://10.10.1.49/LostWorkorder" target="_blank">Lost WorkOrder Report</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/Qoh/Qoh" target="_blank">Quantity On Hand</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/ProductivityReport/ProductivityReport" target="_blank">Warehouse Productivity</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/FedExPackStationLogins/FedExPackStationLogins" target="_blank">FedEx Pack Station Logins</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/PasswordChange/PasswordChange" target="_blank">Reset FedEx Password</a></li>
                    <li class="divider"></li>
                    <li><a href="http://jbreports.jandbmedical.com/hdms/Admin/Warehouse/FedExTracking.aspx" target="_blank">Fedex Tracking</a></li>
                    <li class="divider"></li>
                    <li><a href=@url target="_blank">ProductivityReport </a></li>
                </ul>
                }
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    BCN
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("BCN Claims Lookup", "BCNClaimReport", "CSR", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>

                </ul>
            </li>



            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Customer Services<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="http://10.10.1.49/LetterGenerator" target="_blank">Letter Generator</a></li>
                    <li class="divider"></li>

                    <li><a href="http://10.10.1.49/DocumentGenerator/DocumentGenerator" target="_blank">Document Generator</a></li>
                    <li class="divider"></li>

                    <li><a href="http://10.10.1.49/PumpCGMTracker/Home/GetCGMPumpInfo" target="_blank">Pump CGM Tracker</a></li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Complaint CallLog", "CSRComlaintlog", "CustomerServices", new { area = "Reports" }, new { target = "_blank" })</li>

                    <li class="divider"></li>
                    <li>@Html.ActionLink("CSR CallLog", "CSRCallLog", "CustomerServices", new { area = "Reports" }, new { target = "_blank" })</li>

                    <li class="divider"></li>
                    <li>@Html.ActionLink("Products info Tool", "ProductWithoutUW", "Logistics", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li> @Html.ActionLink("Web Portal Acc Creator", "Index", "WebPortal", new { area = "Reports" }, new { target = "_blank" }) </li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/HDMSPayment/HDMS/HDMSCoPay" target="_blank">CoPay Calculator</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/JBPortal/CSRTools/CSRTool" target="_blank">CSR eConfirm Tool</a></li>
                    <li class="divider"></li>
                    @*  <li><a href="http://10.10.1.49/HDMSPayment/HDMS/HDMSPayment" target="_blank">Old CoPay Calculator</a></li>
        <li class="divider"></li>  *@

                    <li>@Html.ActionLink("BCBS CallLog", "BCNCallLog", "BCBS", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Pumps Hold Report", "HoldOrders", "CSRReporting", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Superior Hold Report", "SuperiorHeldOrders", "CSRReporting", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("RWO Changes by Date Span", "RWOsChanges", "RWOsChanges", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/RWOs/RWOs" target="_blank">RWO Change Audit</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/AcChanges/AcChanges" target="_blank">Demos Change Audit</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/Doctor/Doctor" target="_blank">Doctor Table Change Audit</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/CallTagSearch/CallTagSearch" target="_blank">Call Tag Search</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/PossibleDuplicateAccounts/PossibleDuplicateAccounts" target="_blank">Duplicate Active Accounts</a></li>
                    @*
             <li class="divider"></li>
        <li class="dropdown-submenu">
            <a tabindex="-1" href="#">Call Log</a>
            <ul class="dropdown-menu">
                <li tabindex="-1">

                <li>@Html.ActionLink("ComplaintsCall", "Call", "CustomerServices", new { area = "Reports" },null)</li>
                <li class="divider"></li>

                <li>@Html.ActionLink("ReasonFor Call", "ReasonForCall", "CustomerServices", new { area = "Reports" }, null)</li>


            </ul>
        </li>
                    *@

                </ul>
            </li>



            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Customer Service Tracker
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("CSR Reporting Tool", "Index", "CSRReporting", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("CSR Assessment Tracking", "CSRAssessment", "CSRReporting", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Call-log Complaint Report", "CSRCallLogReport", "CSRReporting", new { area = "Reports" }, new { target = "_blank" })</li>

                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Indiana Surveys
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Enter Survey", "Indiana_Survey", "Indiana", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Survey Results", "SurverResult", "Indiana", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Survey Optional Resutlts", "SurverOptionInfo", "Indiana", new { area = "Reports" }, new { target = "_blank" })</li>

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Nursing Department
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Assessments Due", "AssessmentsDue", "ClinicalAssessment", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("NNA Unable to Complete Report", "RemovedAccounts", "ClinicalAssessment", new { area = "Reports" }, new { target = "_blank" })</li>
                </ul>
            </li>



            @*
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Nursing Department
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Assessment LOG", "Index1", "ClinicalAssessment", new { area = "Reports" }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Assessment Count", "AssessmentCount", "ClinicalAssessment", new { area = "Reports" }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Assessment Log Report", "AssessmentLogReport", "ClinicalAssessment", new { area = "Reports" }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Assessment Completed", "AssessmentsCompleted", "ClinicalAssessment", new { area = "Reports" }, null)</li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Drop Ship
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li>@Html.ActionLink("DropShipOrder Received", "DropShip_Reports", "DropShipReports", new { area = "Reports" }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("DropShipOrder Received", "DropShip_Reports", "DropShipReports", new { area = "Reports" }, null)</li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                       Smart Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li>@Html.ActionLink("VictorConfirmation_HoldingAccountent", "SA_Notes_HoldingOrders", "SmartAction", new { area = "Reports" }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("SmartAction Payers", "SA_Payers", "SmartAction", new { area = "Reports" }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("ComfirmedHoldingOrders", "SA_ConfirmedHoldingOrders", "SmartAction", new { area = "Reports" }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("UncomfirmedHoldingOrders", "SA_UnConfirmedHoldingOrders", "SmartAction", new { area = "Reports" }, null)</li>

                    </ul>
                </li>

                <li>@Html.ActionLink("DOM Report", "Index", "Scheduler", new { area = "Reports" }, null)</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("ShippedOrderQty", "ShippedOrder", "Scheduler", new { area = "Reports" }, null)</li>*@

            <li class="divider"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Smart Action <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Inbound SelfServices</a>
                        <ul class="dropdown-menu">
                            <li tabindex="-1">
                            <li>@Html.ActionLink("Reorder Supplies", "ReorderSupplies", "Inbound", new { area = "Reports" }, new { target = "_blank" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Pharmacy Reorder Supplies", "PharmacyReorderSupplies", "Inbound", new { area = "Reports" }, new { target = "_blank" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Address Change", "AddChange", "Inbound", new { area = "Reports" }, new { target = "_blank" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Update Phone", "UpdatePhone", "Inbound", new { area = "Reports" }, new { target = "_blank" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("New Account", "NewAccount", "Inbound", new { area = "Reports" }, new { target = "_blank" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Update Doctor", "UpdateDoctorInfo", "Inbound", new { area = "Reports" }, new { target = "_blank" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Update Insurance", "UpdateInsInfo", "Inbound", new { area = "Reports" }, new { target = "_blank" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Reassessment SelfService", "InboundReassessment", "Inbound", new { area = "Reports" }, new { target = "_blank" })</li>


                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Reassessment Calls", "Reassessment", "OutboundCalls", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Victor Not Confirmed Calls", "SmartActionNotConfirmedCalls", "OutboundCalls", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Victor Confirmed Calls", "SmartActionVictorCalls", "OutboundCalls", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/JBPortal/Reports/Report/SmartActionCallReport" target="_blank">Pharmacy Reminder Calls</a></li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Victor Required CallBack Calls", "SANotConfirmedCalls_RequireCallBack", "OutboundCalls", new { area = "Reports" }, new { target = "_blank" })</li>

                    <li class="divider"></li>
                    <li>@Html.ActionLink("Victor Only Lancets/Control-Solution Calls", "SAVictorCallsWithOnlyLancetsContolSol", "OutboundCalls", new { area = "Reports" }, new { target = "_blank" })</li>

                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/BCN_Add/BCN/add_jbcc_payer" target="_blank">Add payers to SmartAction</a></li>
                </ul>
            </li>
            @*This menu is in test only.. Ony uncomment this one .. once it is ready to go production*@
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    MI State Audit
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("MI State Audit Report", "MIStateAuditData", "MIStateAudit", new { area = "Reports" }, new { target = "_blank" })</li>

                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Others
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @if (HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "maheshkattamuribpl"
|| HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "mott"
|| HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "bserra"
|| HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "sissa"
|| HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "tdecoster"
|| HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "tkemp"
|| HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "KPlacencia")
                    {
                        <li> @Html.ActionLink("Reports Audit", "ReportsAudit", "ReportsAudit", new { area = "Reports" }, new { target = "_blank" })</li>
                        <li class="divider"></li>
                    }
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/BackOrders/BackOrders" target="_blank">Back Orders</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/ExpiringCMNs/ExpiringCMNs" target="_blank">Expiring CMNs</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/NewExpiringCMNs/NewExpiringCMNs" target="_blank">New Expiring CMNs</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/AssessmentReport/AssessmentReport" target="_blank">Assessment Report</a></li>
                    <li class="divider"></li>
                    <li><a href="http://10.10.1.49/ColdFusionReports/ColdFusionReports/ShipTool/ShipTool" target="_blank">Ship Tool</a></li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("CMN's With Duration99", "CMNswithDuration99Data", "CMNswithDuration", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Illegal punctuation", "IllegalpunctuationData", "Illegalpunctuation", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Review Doctors", "ReviewDoctorReport", "ReviewDoctors", new { area = "Reports" }, new { target = "_blank" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Payer Links", "PayerlinksData", "payerlinks", new { area = "Reports" }, new { target = "_blank" })</li>
                </ul>
            </li>

            <li class="dropdown">
                @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Cold Fusion
                        <span class="caret"></span>
                    </a>*@
                <ul class="dropdown-menu">

                    <li>@Html.ActionLink("RWOs", "RWOs", "RWOs", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Account Changes", "AcChanges", "AcChanges", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Shipped Orders", "ShippedOrders", "ShippedOrders", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Doctor", "Doctor", "Doctor", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Call Tag Search", "CallTagSearch", "CallTagSearch", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("New Expiring CMNs", "NewExpiringCMNs", "NewExpiringCMNs", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Quantity On Hand", "Qoh", "Qoh", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Back Orders", "BackOrders", "BackOrders", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Assessment Report", "AssessmentReport", "AssessmentReport", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Productivity Report", "ProductivityReport", "ProductivityReport", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("USS Operator Lookup", "USSoperatorLookup", "USSoperatorLookup", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("FedEx Pack Station Logins", "FedExPackStationLogins", "FedExPackStationLogins", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Reset FedEx Password", "PasswordChange", "PasswordChange", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Expiring CMNs", "ExpiringCMNs", "ExpiringCMNs", new { area = "ColdFusionReports" }, new { target = "_blank" })</li>
                </ul>
            </li>
        </ul>

    </div>
</div>

<div class="span10">
    <br />

    <div class="row-fluid">
        @RenderBody()
    </div>
</div>