@model USPS_Report.Areas.Reports.Models.ProductSubModel

@{
    ViewBag.Title = "RWO ProductSub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-2">
        @if (Model != null && Model.listQty != null && Model.listQty.Count > 0)
        {
            <table data-sortable class="table table-hover table-striped table-bordered" style="width:140PX">
                <thead>
                    <tr>
                        <th></th>
                        <th>Qty for Old Product</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var rec in Model.listQty)
                {
                    <tr>
                        <td></td>
                        <td>
                            @rec.qty
                        </td>


                    </tr>
                    }
                </tbody>

            </table>
        }
    </div>
    <div class="col-md-10">
        <center>
            <h2>RWO Product Substitutions</h2>
            @using (Html.BeginForm("ProductSub", "RWO", FormMethod.Post))
            {

            @Html.ValidationSummary();

            <div class="form-inline">
                <div class=" row">
                    <div class="col-md-3"> </div>
                    <div class="col-md-3"> Old Product Code : @Html.TextBoxFor(t => t.oldProd)</div>

                    <div class="col-md-2">
                        Qty : @Html.TextBoxFor(t => t.Qty_oldProd)
                    </div>
                    <div class="col-md-2">
                       All Qty : @Html.CheckBoxFor(t => t.allProd )
                    </div>
                </div>
                <br />


                <div class=" row">
                    <div class="col-md-3"> </div>
                    <div class="col-md-3"> New Product Code : @Html.TextBoxFor(t => t.NewProd)</div>


                    <div class="col-md-2">
                        Qty : @Html.TextBoxFor(t => t.Qty_newProd)
                    </div>
                </div>



            </div>
            <br />

            <button class="btn btn-primary btn-large" type="submit">--View--</button>


            }
        </center>





        <center>
            @if (Model.ValidNewProd == false || Model.ValidOldProd == false)
            {
                if (Model.ValidNewProd == false)
                {
                    <h3 style="color:red">
                        Entered New Product code is invalid
                    </h3>
                }

                if (Model.ValidOldProd == false)
                {
                    <h3 style="color:red">
                        Entered Old Product code is invalid
                    </h3>
                }

            }



            else
            {
                <hr />
                <h3>Pending Requests:</h3>
                if (Model != null && Model.pendingList != null)
                {

                    using (Html.BeginForm("ProceedRWO", "RWO", FormMethod.Post))
                    {
                        <div class="table-responsive">
                            <table data-sortable class="table table-hover table-striped table-bordered" style="width:1200px">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Status</th>
                                        <th>Old Product</th>
                                        <th>Qty Old Prod</th>
                                        <th>New Product</th>
                                        <th>Qty New Prod</th>
                                        <th>Requested</th>
                                        <th>All Qty</th>

                                        <th>RWO's Changed</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.pendingList.Count(); i += 1)
                            //@foreach (var rec in Model.pendingList)
                            {
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="radio-inline">
                                            <label>
                                                @Html.RadioButtonFor(x => x.pendingList[i].actionVal, "true", new { style = "width:100px" })
                                                Approve

                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                @Html.RadioButtonFor(x => x.pendingList[i].actionVal, "false", new { style = "width:100px" })
                                                Deny
                                            </label>
                                            @Html.HiddenFor(x => x.pendingList[i].actionVal)


                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(x => x.pendingList[i].Status)
                                    @Html.HiddenFor(x => x.pendingList[i].Status)
                                </td>

                                <td>
                                    @Html.DisplayFor(x => x.pendingList[i].oldProd)
                                    @Html.HiddenFor(x => x.pendingList[i].oldProd)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => x.pendingList[i].subOldProdQty)
                                    @Html.HiddenFor(x => x.pendingList[i].subOldProdQty)
                                </td>

                                <td>
                                    @Html.DisplayFor(x => x.pendingList[i].newProd)
                                    @Html.HiddenFor(x => x.pendingList[i].newProd)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => x.pendingList[i].subNewProdQty)
                                    @Html.HiddenFor(x => x.pendingList[i].subNewProdQty)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => x.pendingList[i].subAdded)
                                    @Html.HiddenFor(x => x.pendingList[i].subAdded)

                                    <br /> @Html.DisplayFor(x => x.pendingList[i].subAddedBy)
                                    @Html.HiddenFor(x => x.pendingList[i].subAddedBy)
                                </td>

                                <td>
                                    @Html.DisplayFor(x => x.pendingList[i].allProds)
                                    @Html.HiddenFor(x => x.pendingList[i].allProds)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => x.pendingList[i].subRwoCount)
                                    @Html.HiddenFor(x => x.pendingList[i].subRwoCount)
                                </td>


                            </tr>
                            }
                                </tbody>

                            </table>

                            <center>
@if (HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "ekeller" 
    || HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "nkjellin"
                                                    || HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "sissa" 
                                                    || HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "grani" 
                                                    || HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "jbmdxg1"
                                                    || HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "mott"
                                                    || HttpContext.Current.User.Identity.Name.Split('\\').Last().ToLower() == "maheshkattamuribpl")
{
                                <button class="btn btn-primary btn-large" type="submit">submit</button>
}
                            </center>
                        </div>
                    }
                }

                <hr />
                if (Model != null && Model.processedList != null)
                {
                    <h3>Processed Requests:</h3>
                    <div class="table-responsive">
                        <table data-sortable class="table table-hover table-striped table-bordered" style="width:1200px">
                            <thead>
                                <tr>

                                    <th>Status</th>
                                    <th>Old Product</th>
                                    <th>OldProd Qty</th>
                                    <th>New Product</th>
                                    <th>NewProd Qty</th>
                                    <th>All Qty</th>
                                    <th>Requested</th>
                                    <th>Approved</th>
                                    <th>RWO's Changed</th>
                                    <th>Denied</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rec in Model.processedList)
                    {
                                    <tr>

                                        <td>@rec.Status</td>
                                        <td>@rec.oldProd</td>
                                        <td>@rec.subOldProdQty</td>
                                        <td>@rec.newProd</td>
                                        <td>@rec.subNewProdQty</td>
                                        <td>@rec.allProds</td>
                                        <td>@rec.subAdded <br /> @rec.subAddedBy </td>
                                        <td>@rec.subApproved <br /> @rec.subApprovedBy </td>
                                        <td>@rec.subRwoCount  </td>
                                        <td>@rec.subDenied <br /> @rec.subDeniedBy </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>

                }

            }



        </center>

    </div>

</div>

<style>
    th {
        background-color: dodgerblue;
        color: white;
    }

    .middle {
        margin: auto;
        width: 900px;
    }
</style>

<style>
    .outer {
        width: 100%;
        color: navy;
        background-color: lightblue;
        /*border: 2px solid blue;*/
        padding: 5px;
    }

    .c {
        text-align: center;
    }

    .text-field {
        background-color: #FFFFCC;
        color: #FF0000;
        width: 60px;
        font-size: large;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
