@model USPS_Report.Areas.Reports.Models.RWOMultipleLocationsVM

@{
    ViewBag.Title = "RWOMuktipleLocations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle">
    <h1>Accounts with Multiple Delivery Locations</h1>
</div>
<br />



@if (Model != null && Model.rwoMultipleLocations != null)
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class=" row">
                <h3 style="color:blue">
                    Total Count =  @Model.rwoMultipleLocations.Count()
                </h3>
            </div>
            <hr />


            <div class="table-responsive">
                <table data-sortable class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Locations</th>
                            <th>Location1</th>
                            <th>Location2</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rec in Model.rwoMultipleLocations)
                {
                            <tr>
                                <td>@rec.Account</td>
                                <td>@rec.FirstName</td>
                                <td>@rec.LastName</td>
                                <td>@rec.Locations</td>
                                <td>@rec.Location1</td>
                                <td>@rec.Location2</td>

                            </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>
    </div>
}

 <style>
 th {
 background-color: dodgerblue;
 color: white;
 }

 .middle {
margin: auto;
width: 900px;
}
 </style>
